@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px; ">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.PersonelId
            </td>
            <td>
                @item.PersonelAd
            </td>
            <td>
                @item.PersonelSoyad
            </td>
            <td>
                <img style="width:150px; height:80px;" src="@item.PersonelGorsel" />
            </td>
            <td>
                @item.Departman.DepartmanAd
            </td>
            <td><a href="/Personel/PersonelGetir/@item.PersonelId" class="btn btn-success">Güncelle</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelId" class="btn btn-success" style="background-color:darkviolet; color:white;">Detaylar</td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-info">Personel Ekle</a>



